@import '../../styles/colors';
@import '../../styles/sizes';
@import '../../styles/defaults';

.entry-create-form {
    width: 600px;
    margin: 50px auto;

    img {
        max-width: 100%;
    }

    h1.actiontitle {
        text-align: center;
        margin: 50px 0px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0px;
        padding: 0px;

        button {
            width: fit-content;
        }
    }

    .delete-entry {
        margin-right: 10px;
    }

    .submit-edit {
        display: flex;
    }
}

@media only screen and (max-width: 700px) {
    .entry-create-form{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .entry-edit {
        width: 100% !important;
    }

    .gotostory-btn {
        top: 60px;
    }

    .tag-creation .tag-submit {
        padding: 9px 25px !important;
        border-radius: 0px !important;
    }

    .embedIcons {
        border-radius: 0px !important;
    }
}

@media only screen and (max-width: 550px) {
    .entry-create {
        margin-bottom: 0px !important;
    }

    .entry-create-form{
        padding: 0px !important;
        margin: 30px auto !important;
    }

    .embedIcons {
        padding: 10px 5px !important;
    }

    .entry-edit {
        margin-bottom: 100px !important;
    }

    .media-tabs {
        margin-bottom: 0px !important;
    }

    .tag-creation {
        margin: 10px 0px !important;
        width: 100% !important;
        align-items: stretch !important;

        button {
            padding: 0px !important;
            margin: 0px !important;
        }
    }

    .tags ul li {
        margin-bottom: 5px !important;
    }
}