@import '../../styles/colors';
@import '../../styles/sizes';
@import '../../styles/defaults';


.tags-entry {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    flex-direction: column;
}

.tags {
    width: 100%;

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        flex-wrap: wrap;

        li {
            padding: 20px 30px;
            list-style-type: none;
            margin: 0px 5px 20px 0px;
            background: $medium_blue;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.tag-creation {
    width: 50%;
    display: flex;
    align-self: flex-end;
    margin-bottom: 20px;

    input {
        margin: 0px;
        font-size: $text_size;
    }

    .tag-submit {
        font-size: 25px;
        padding: 10px 40px;
        background: none;
        border-radius: 0px;
        color: $light_blue;
        border: 2px solid $light_blue;
        border-left: none;
    }
}
