@import '../../styles/colors';
@import '../../styles/sizes';

.home {
    max-width: $app_width;
    margin: auto;
    box-sizing: border-box;
    padding: 50px 0px;
}

.storyCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {

    .home {
        width: 100% !important;
    }
    .storyCard {
        flex-basis: 33% !important;
        padding: 10px !important;
    }

    .search-button {
        margin-left: 50px !important;
    }

    .search-content {
        padding: 150px 20px !important;
        max-width: 600px;
    }

    .results {
        padding: 20px !important;
    }

    .home-buttons {
        z-index: 100;
    }
}

@media only screen and (max-width: 550px) {
    .home-buttons {
        top: 2px !important;
        left: 2px !important;
        flex-direction: row !important;
    }

    .header .title {
        padding: 50px 20px !important;
        box-sizing: border-box;
        width: 100% !important;

        h1 {
            font-size: 75px !important;
        }
    }

    .storyCard {
        flex-basis: 50% !important;
        padding: 5px !important;
    }

    .storycard-template{
        padding: 10px !important;
    }

    .search-container{
        margin: 20px 0px !important;
    }

    .search-button {
        margin-left: 20px !important;
    }

    .search-tags {
        flex-wrap: wrap !important;

        label, input {
            width: 100% !important;
        }
    }

    .search-content {
        padding: 100px 10px !important;

        button {
            margin-right: 0px !important;
        }
    }

    .date {
        select {
            -webkit-appearance:none;
            background: $dark_blue;
            color: $light_blue;
            height: 60px;
        }
    }

    .modal {
        z-index: 101 !important;
    }

    .modal-content {
        padding: 20px !important;
        width: 100% !important;
        margin:10px !important;
    }

    .modalTabs {
        button {
            padding: 0px 10px !important;
        }

        .submit-register {
            padding: 40px !important;
        }
    }
}