@import "./styles/colors";
@import "./styles/defaults";

body {
  background: $dark_blue;
  color: $light_blue;
  font-family: $font_fam;
  font-size: $text_size;
}

.error-message {
  width: 600px;
  position: fixed;
  z-index: 999;
  color: $red;
  border: 3px solid $red;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: $subtitle_size;
  text-align: center;
  top: 20px;
  left: calc(50% - 300px);
  background: rgba(0, 0, 18, 0.8);
}

.success-message {
  width: 600px;
  position: fixed;
  z-index: 999;
  color: $green;
  border: 3px solid $green;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: $subtitle_size;
  text-align: center;
  top: 20px;
  left: calc(50% - 300px);
  background: rgba(0, 0, 18, 0.8);
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.loader {
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  position: relative;

  .hi {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    animation: movehi 1s ease-in infinite;
  }
}
@keyframes movehi {
  0% {
    background: $pink;
    width: 10px;
    left: 0px;
  }

  50% {
    background: $orange;
    width: 100px;
    left: calc(50% - 50px);
  }

  100% {
    background: $yellow;
    width: 10px;
    left: 100%;
  }
}

@media only screen and (max-width: 700px) {
  button {
    padding: 12px 20px !important;
    border-radius: 5px !important;
  }

  .error-message {
    width: 100%;
    left: 0px;
    top: 0px;
  }

  .close-search {
    right: 0px !important;
  }
}
