@import './styles/colors';
@import './styles/defaults';

body {
  background: $dark_blue;
  color: $light_blue;
  font-family: $font_fam;
  font-size: $text_size;
}

.error-message {
  width: 600px;
  position: fixed;
  z-index: 999;
  color: $red;
  border: 3px solid $red;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: $subtitle_size;
  text-align: center;
  top: 20px;
  left: calc(50% - 300px);
}

.success-message {
  width: 600px;
  position: fixed;
  z-index: 999;
  color: $green;
  border: 3px solid $green;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: $subtitle_size;
  text-align: center;
  top: 20px;
  left: calc(50% - 300px);
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media only screen and (max-width: 700px) {
  button {
    padding: 12px 20px !important;
    border-radius: 5px !important;
  }

  .error-message {
    width: 100%;
    left: 0px;
  }

}