@import "../../../styles/colors";

.insp-btn {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  color: $light_blue;
  border-color: $dark_blue;
}

.clicked {
  color: $green;
}

.not-clickable {
  cursor: default;
}
