@import '../../styles/colors';
@import '../../styles/sizes';

.timeline {
    padding: 100px 20px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 200px;

    .insp-btn {
        margin: 100px auto;
    }
}

.progress-container {
    background: $medium_blue;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

.progress {
    width: 50%;
    height: 100%;
    background: $light_blue;
}

.filter-error {
    text-align: center;
}


@media only screen and (max-width: 700px) {
    .filter-nav{
        ul {
            flex-wrap: wrap;

            li {
                padding: 10px !important;
            }
        }
    }

    .right {
        justify-content: flex-start !important;
    }

    .right .lefttimelineCircle {
        left: calc(100% - 12px) !important;
    }

    .right .caption {
        align-items: flex-end !important;
        margin-right: 20px;
    }

    .rightcontainer {
        flex-direction: row !important;
        border-left: none !important;
        border-right: 5px solid #8397DF;
        width: 100% !important;
    }

    .leftcontainer {
        width: 100% !important;
    }

    .horizontalLine {
        width: 20% !important;
    }

    .bottom, .top {
        width: 100% !important;
    }

    .bottom .timelineCircles, .top .timelineCircles {
        left: calc(100% - 18px) !important;
        right: 0px !important;

    }

    .caption {
        h1, h2, p {
            text-align: right !important;
        }
    }

    .entryCard h2 {
        width: 100% !important;
    }

    .entryPositioner {
        width: 100% !important;
    }
}

@media only screen and (max-width: 550px) {
    .timeline {
        padding: 150px 10px 0px 10px !important;
        margin-bottom: 50px !important;

        .insp-btn {
            margin: 50px auto;
        }
    }

    .top {
        padding-bottom: 30px;
    }

    .back-btn {
        width: auto !important;
        top: 0px !important;
        left: 0px !important;
        padding: 10px 20px !important;
    }

    .story-buttons {
        top: 0px !important;
        right: 0px !important;

        button {
            padding: 10px 20px !important;
            margin-bottom: 5px !important;
        }
    }

    .filter-nav {
        margin-bottom: 0px !important;

        ul {

            li:nth-child(1){
                width: 100%;
                margin-bottom: 10px;
            }

            li {
                padding: 5px !important;
            }
        }
    }

    .entryPositioner {
        padding: 0px !important;
    }

    .horizontalLine, .textHorizontalLine, .soundHorizontalLine {
        display: none !important;
    }

    .entryCard {
        width: 100% !important;
        max-width: 100% !important;
        margin-top: 50px !important;

        h1 {
            width: 100% !important;
        }
    }

    .mediaType-2container {
        padding: 20px 0px !important;
    }

    .right {
        .caption {
            margin-right: 0px !important;
        }
    }

    .success-message {
        width: 100% !important;
        top: 0px !important;
        left: 0px !important;
    }
}