@import '../../styles/colors';
@import '../../styles/sizes';

.entry-create {
    width: 600px;
    margin: 50px auto;

    h1 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: flex-end;

        input {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            border: none;
            background: #020115;
            color: #8397DF;
            border: 1px solid #8397DF;
            box-shadow: 0px 0px 20px rgba(131, 151, 223, 0.25);
            margin-bottom: 20px;
        }

        input::placeholder {
            color: $light_blue;
        }

        button {
            width: fit-content;
        }
    }
}

.media-tabs{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin: 50px 0px 20px 0px;

    button {
        width: 100%;
        box-sizing: border-box;
        border: none;
        background: #020115;
        color: #8397DF;
        border: 1px solid #8397DF;
        box-shadow: 0px 0px 20px rgba(131, 151, 223, 0.25);
        border-radius: 0px;

        svg {
            width: 100%;
            height: 50px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: $text_size;
            margin: 0px;
        }
    }
    button.active {
        // color: #020115 !important;
        background: $medium_blue;
    }
}

.date {
    display: flex;
    width: 100%;

    input {
        width: 100%;
        text-align: center;
    }
    select {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border: none;
        background: #020115;
        color: #8397DF;
        border: 1px solid #8397DF;
        box-shadow: 0px 0px 20px rgba(131, 151, 223, 0.25);
        margin-bottom: 20px;
        text-align: center;
    }
}