@import '../../../styles/colors';
@import '../../../styles/sizes';

.story-buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 10px;

    button {
        margin-bottom: 10px;
    }

    .profile-btn {
        position: static;
    }
}