@import '../../../styles/colors';
@import '../../../styles/sizes';

.story-buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 50px;
    right: 50px;

    button {
        margin-bottom: 10px;
    }

    .profile-btn {
        position: static;
    }
}

.add-entry-btn{
    color: $green;
    border-color: $green;
}