@import '../../../../styles/colors';
@import '../../../../styles/sizes';
@import '../../../../styles/defaults';

input, textarea {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    background: #020115;
    color: #8397DF;
    border: 1px solid #8397DF;
    box-shadow: 0px 0px 20px rgba(131, 151, 223, 0.25);
    margin-bottom: 20px;
    font-family: $font_fam;
    font-size: $text_size;
    line-height: $text_lineheight_size;
}

input::placeholder, textarea::placeholder {
    color: $light_blue;
    font-family: $font_fam;
    font-size: $text_size;
    line-height: $text_lineheight_size;
}
