.special-hashtags {
	width: 100%;
	height: 100%;

	img {
		width: 60%;
	}
}

.birthday {
	background: url('./birthday.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.vacation {
	background: url('./airplane.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 75px;
	z-index: 10;
	right: -30px;
	top: -15px;
}
