@import '../../styles/colors';
@import '../../styles/sizes';

.single-entry {
    width: $app_width;
    margin: 300px auto;
}

.entry-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 100%;
        margin: 0px auto 50px auto;
    }
}

.entry-caption {
    width: 100%;
}