@import '../../styles/colors';
@import '../../styles/sizes';

.single-entry {
    width: $app_width;
    margin: 200px auto;

    .video-entry {
        iframe {
            width: 100vw;
            height: 500px;
        }
    }

    .audio-entry {
        iframe {
            width: $app_width;
        }
    }
}

.entry-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 100%;
        margin: 0px auto 50px auto;
    }
}

.entry-caption {
    width: 100%;

    .author {
        margin-top: 50px;
        text-align: right;
    }
}

label {
    display: block;
    font-size: $subtitle_size;
    margin: 50px 0px -20px 10px;
}

.hashtags {
    width: 100%;
    margin: 30px 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
        list-style-type: none;
        background: $medium_blue;
        padding: 10px 20px;
        width: fit-content;
        border-radius: 5px;
        margin: 5px;
        cursor: default;
    }
}

.nav-entries {
    width: 100%;
    margin-top: 150px;
    display: flex;

    button {
        padding: 50px;
        width: 50%;
        background: none;
        border: none;
        border-radius: 0px;
        color: $light_blue;
        font-size: $text_size;
        line-height: $text_lineheight_size;
    }

    .previous-entry {
        border-right: 1.5px solid $light_blue;
        text-align: right;
    }

    .next-entry {
        border-left: 1.5px solid $light_blue;
        text-align: left;
    }

    button:hover {
        background: $medium_blue;
    }
}


@media only screen and (max-width: 700px) {
    .single-entry {
        width: 100% !important;
        padding: 200px 20px !important;
        margin: 0px;
        box-sizing: border-box !important;
    }

    .audio-entry {
        width: 100% !important;

        iframe {
            width: 100% !important;
        }
    }
}

@media only screen and (max-width: 550px) {
}