@import '../../../styles/colors';

.insp-btn {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    color: $medium_blue;
    border-color: $dark_blue;
    box-shadow: none;
}

.insp-btn:hover, .clicked:hover {
    color: $light_blue;
}

.clicked {
    color: $green;
}