@import '../../styles/colors';
@import '../../styles/sizes';

.single-entry {
    width: $app_width;
    margin: 300px auto;
}

.gotostory-btn {
    position: absolute;
    top: 120px;
    left: 50px;
}