@import '../../../styles/colors';
@import '../../../styles/sizes';

.approved {
    color: $green;
}

.denied {
    color: $red;
}

.entries {
    label {
        display:inline-block;
        margin: 50px 0px;
    }
}