@import "../../../styles/colors";
@import "../../../styles/sizes";

.approved {
  color: $green;
}

.denied {
  color: $red;
}

.entries {
  margin-bottom: 100px;

  label {
    display: inline-block;
    margin: 20px 0px;
  }
}
