@import '../../styles/defaults';
@import '../../styles/colors';
@import '../../styles/sizes';

$circle_offset: -17px;

// TOP
.top {
    justify-content: center;
    text-align: center;

    .topcontainer {
        display: flex;
        justify-content: center;
    }

    .timelineCircles {
        left: calc(50% - 13px);
        z-index: 1;
    }
}

// LEFT
.left {
    justify-content: flex-start;

    h1, h2, p {
        text-align: right;
    }

    .text {
        padding-right: 30px;
    }

    .leftcontainer {
        border-right: $border;
        flex-direction: row;
        justify-content: flex-end;
    }

    .lefttimelineCircle {
        left:0px;
    }

    .righttimelineCircle {
        right: $circle_offset;
    }
}

// RIGHT
.right {
    justify-content: flex-end;

    h1, h2, p {
        text-align: left;
    }

    .text {
        padding-left: 30px;
    }

    .rightcontainer {
        border-left: $border;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .lefttimelineCircle {
        left: $circle_offset;
    }

    .righttimelineCircle {
        right: 0px;
    }
}

// BOTTOM
.bottom {
    justify-content: center;
    text-align: center;

    .bottomcontainer {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    .timelineCircles {
        left: calc(50% - 13px);
        top: -13px;
        z-index: 1;
    }
}