@import '../../styles/colors';

.header {
    text-align: center;
}


.logo {
    $logo_size: 300px;
    width: $logo_size;
    height: $logo_size;
    border-radius: $logo_size;

    background: linear-gradient(to right, $pink, $orange, $yellow);
    box-shadow: 0px 0px 60px 30px $pink;

    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: right;
    width: 350px;
    color: $dark_blue;
    margin-right: -80px;

    h1 {
        font-size: 75px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
    }

    p {
        font-size: 20px;
        line-height: 30px;
        margin: 0px;
        padding: 0px;
    }
}