@import '../../styles/colors';
@import '../../styles/sizes';

.header {
    text-align: center;
    position: relative;
    // cursor: none;

    .logo {
        $logo_size: 3px;
        width: $logo_size;
        height: $logo_size;
        border-radius: $logo_size;

        background: $yellow;
        box-shadow: 0px 0px 10px 10px  #ffbc00,  0px 0px 50px 50px  #ff8100, 0px 0px 75px 75px  #FB1F61,  0px 0px 150px 150px  #1a002a;

        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: transform 0.5s ease;
    }

    .title {
        text-align: right;
        width: 350px;
        padding: 100px;
        margin: auto;
        color: $dark_blue;

        h1 {
            font-size: $title_size;
            font-weight: bold;
            margin: 0px;
            padding: 0px;
            cursor: default;
        }

        p {
            font-size: $subtitle_size;
            line-height: $subtitle_lineheight_size;
            margin: 0px;
            padding: 0px;
            cursor: default;
        }
    }
}