@import "../../styles/colors";
@import "../../styles/sizes";
@import "../../styles/defaults";

.message {
  margin-top: 100px;
  text-align: center;
  font-size: $subtitle_size;
  max-width: 400px;
  margin: auto;
  line-height: 25px;
}
