@import '../../styles/colors';

.storyCard {
    margin-bottom: 50px !important;
}

.timeline {
    margin-bottom: -10px;
    max-width: 1200px;
    margin: auto;
}

.progress {
    background: $medium_blue;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}