@import '../../styles/colors';
@import '../../styles/sizes';

.profile {
    max-width: $app_width;
    margin: 50px auto;

    label {
        font-size: $subtitle_size;
    }
}

.pageTitle {
    font-size: $title_size;
    text-align: center;
    font-weight: normal;
    margin: 100px 0px;
}

.tabs {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 100px 0px;

    button {
        background: none;
        color: $medium_blue;
        border: none;
        width: fit-content;
        font-size: $subtitle_size;
        padding: 10px;
        outline: none;
    }
}

.active {
    color: $light_blue !important;
}

