@import '../../styles/colors';
@import '../../styles/sizes';

.profile {
    max-width: $app_width;
    margin: 50px auto;

    label {
        font-size: $subtitle_size;
    }
}

.pageTitle {
    font-size: $title_size;
    text-align: center;
    font-weight: normal;
    margin: 100px 0px;
    text-transform:capitalize;
}

.tabs {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 100px 0px;

    button {
        background: none;
        color: $medium_blue;
        border: none;
        width: fit-content;
        font-size: $subtitle_size;
        padding: 10px;
        outline: none;
    }
}

.active {
    color: $light_blue !important;
}

@media only screen and (max-width: 700px){
    .profile {
        padding-top: 50px !important;
        margin-bottom: 0px !important;
    }
}

@media only screen and (max-width: 550px) {
    .profile-btns {
        top: 0px !important;
        right: 0px !important;
    }

    .pageTitle {
        margin: 0px !important;
        font-size: 50px !important;
        margin-top: 50px !important;
        padding-left: 10px;
        text-align: left;
    }

    .tabs {
        margin: 20px 0px !important;
        flex-direction: row;

        button {
            padding: 5px !important;
        }
    }

    .listEntry {

        h1 {
            width: 100%;
        }

        .listEntryRight {
            width: 150px;
            text-align: right;

            .delete-btn {
                width: 25px;
                height: 25px;
                margin-left: 10px;
            }
        }
    }

    .entries, .listEntries {
        margin: 10px 0px !important;
    }

    .yourStories {
        margin-bottom: 20px !important;
    }

    .delete {
        right: 0px !important;
        top: 0px !important;
    }
}