@import '../../../styles/sizes';
@import '../../../styles/colors';

$font_size: 30px;

.search-content {
    width: 100%;
    height: fit-content;
    overflow: scroll;
    max-height: 100%;
    max-width: 900px;
    font-size: $font_size;
    padding: 150px;
    box-sizing: border-box;

    form {
        padding-bottom: 30px;
    }

    label {
        font-size: $font_size;
        display: block;
        margin: 0px;
    }
}

.clear {
    font-size: $text_size;
    padding: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.results {
    width: 100%;
    box-sizing: border-box;
    border-top: 3px dotted $light_blue;
    padding: 40px;
    font-size: $subtitle_size;

    li {
        border: 1px solid $light_blue;
        border-radius: 5px;
        padding: 10px 30px;
        list-style-type: none;
        margin-bottom: 30px;
        cursor: pointer;

        h1 {
            font-size: $subtitle_size;
        }

        h2, p {
            font-size: $text_size;
        }

        &:hover {
            background: $dark_blue;
        }
    }
}