@import '../../styles/colors';
@import '../../styles/sizes';


.search-container {
    margin: 50px 0px;
    width: 100%;
}
.search-button {
    width: fit-content;
    cursor: pointer;
    color: $medium_blue;
    font-size: $subtitle_size;

    &:hover {
        color: $light_blue;
    }
}

.search-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,8,0.8);
    display: flex;
    justify-content: center;
    z-index: 100;
}
