@import '../../styles/colors';
@import '../../styles/sizes';

.storyCard {
    text-align: center;
    flex-basis: 25%;
    padding: 20px;
    box-sizing: border-box;
    max-width: 200px;

    .profile-img {
        width: 100%;
        border-radius: 50%;
        box-shadow: 0px 3px 5px 1px rgba(131, 151, 223, 0.8);
    }

    .profile-img:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    h1 {
        font-size: $subtitle_size;
        line-height: $subtitle_lineheight_size;
        font-weight: bold;
        margin: 0px;
        margin-top: 20px;
    }

    h2 {
        font-size: $text_size;
        line-height: $text_lineheight_size;
        margin: 0px;
        font-weight: normal;
    }
}