@import '../../styles/colors';
@import '../../styles/sizes';

.story-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .story-img-picture {
        $story_picture_size: 200px;
        width: $story_picture_size;
        height: $story_picture_size;
        border-radius: $story_picture_size;
        background: $medium_blue;
        background-size: cover !important;
    }
}

form {
    h2 {
        width: 100%;
        text-align: center;
    }
}